KUBECONFIG_BASE64=<base64 encoded kubeconfig with a single context>
DOCKERCONFIG_BASE64=<base64 encoded docker config.json with access to gcr.io/rox-se>
CENTRAL_PORT=443
CENTRAL_ADDR=<dns name or IP address of central>
ADMIN_PASSWORD=<admin password for central>
ORCHESTRATOR=<k8s or openshift>

