apiVersion: v1
stringData:
  rox_central_endpoint: "{{ central_addr }}:{{ central_port }}"
  rox_api_token: "{{ rox_api_token }}"
kind: Secret
metadata:
  name: roxsecrets
  namespace: pipeline-demo
type: Opaque



