apiVersion: v1
kind: Secret
metadata:
  name: rhacs-demo-pull-pull-secret
  namespace: "{{ item }}"
data:
  .dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJxdWF5LmlvIjogewogICAgICAiYXV0aCI6ICJjbWhoWTNNdFpHVnRieXR3ZFd4c09rYzFUMDVDUlRZeVRVSTNWa294UzBnMVJVNVRTelZNVEVJelNUUXlORGhMTTFsVVZsYzBOVTh4U0RsQ016ZFZORmc1TWpWWFdFOVZUbFpTVmpoVU5sTT0iLAogICAgICAiZW1haWwiOiAiIgogICAgfQogIH0KfQ==
type: kubernetes.io/dockerconfigjson