apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: netpol-generate-{{ item.name }}
  namespace: pipeline-demo
spec:
  params:
    - name: yaml
      value: "{{ item.yaml | b64encode }}"
  pipelineRef:
    name: rox-netpol-pipeline
  workspaces:
  - name: files
    volumeClaimTemplate:
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
