apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: rox-pipeline-test-{{ item.name }}
  namespace: pipeline-demo
spec:
  pipelineRef:
    name: rox-pipeline
  params:
  - name: image
    value: "{{ item.image }}"
