imagePullSecrets:
    username: "{{ imagepulluser }}"
    password: "{{ imagepullpassword }}"

clusterName: "production"

centralEndpoint: "{{ central_addr }}:{{ central_port }}"

collector:
    collectionMethod: KERNEL_MODULE
    disableTaintTolerations: false
    slimMode: true

helmManaged: true

{% if imageregistry != '' %}
image:
    main:
        registry: "{{ imageregistry }}"
    collector:
          registry: "{{ imageregistry }}"
{% endif %}

{{ cluster_init_response.json.helmValuesBundle | b64decode | replace("admissionControl:", "admissionControl:
    dynamic:
        disableBypass: false
        enforceOnCreates: true
        enforceOnUpdates: true
        scanInline: false
        timeout: 3
    listenOnCreates: true
    listenOnEvents: true
    listenOnUpdates: true") }}