# StackRox license key
licenseKey: |
  {{ stackrox_license }}

# Configuration secrets for the Central deployment
central:
  # Administrator password for logging in to the StackRox Portal.
  # htpasswd (bcrypt) encoded for security reasons, consult the "password" file
  # that is part of the deployment bundle for the raw password.
  adminPassword:
    htpasswd: |
      {{ htpasswd }}
  exposure:
{% if orchestrator == 'k8s' %}
    loadBalancer:
      enabled: true
{% else %}
    route:
      enabled: true
{% endif %}


imagePullSecrets:
    username: "{{ imagepulluser }}"
    password: "{{ imagepullpassword }}"


